body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #FFD700; /* Jaune foncé */
    color: #333; /* Texte en gris foncé pour un bon contraste */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFCC00; /* Légèrement plus clair que le fond */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#settings-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Même couleur que le texte */
}

#logo {
    width: 150px;
    margin: 20px auto;
    display: block;
}

button {
    margin: 10px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #FFA500; /* Orange vif pour les boutons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FF8C00; /* Orange foncé au survol */
}

/* Assurer que le conteneur occupe l'espace disponible */
#qr-reader-container {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments (caméra et bouton) */
    align-items: center;    /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    height: 100vh;           /* Utiliser toute la hauteur de la fenêtre */
    background-color: #FFF8DC; /* Couleur de fond pour contraster */
}

/* Centrer la caméra elle-même */
#qr-reader {
    width: 300px;   /* Ajuste la taille selon tes besoins */
    height: 300px;  /* Idem */
    border: 2px solid #FFA500; /* Optionnel : bordure pour la caméra */
    background: #000; /* Optionnel : arrière-plan noir si pas d'image */
    margin-bottom: 20px; /* Espacement entre la caméra et le bouton */
}

/* Style du bouton "Arrêter le scan" */
#stop-scan {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#stop-scan:hover {
    background-color: #FF8C00; /* Couleur au survol */
}


#qr-result {
    font-weight: bold;
    margin-top: 15px;
    color: #333; /* Texte bien lisible */
}

#buttons-container {
    margin-top: 20px;
}
